* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

router-outlet {
  display: contents;
}

lib-snack:has(.app-snack-label) {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
